body {
    padding: 40px;

    h1 {
        font-size: 24px;
        font-weight: bold;
        font-family: $main-font;
        color: $main-color;
        padding: 20px 0;
        &:hover {
            color: aqua;
        }
    }

    ol {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #eeee;
        border: 2px solid #191919;
        padding: 40px;
        font-size: 20px;
        font-weight: bold;
        font-family: $main-font;

        li {
            span {
                color: $main-color;
            }
            a {
                color: red;
            }
        }
    }
}

.cajas {
    background-color: #191919;
    padding: $p-5;
    display: grid;
    grid-template-columns: $column-4;
    justify-content: center;
    align-items: center;

    .caja {
        background-color: $main-color;
        color: #f8f1f1;
        padding: 20px;

        .pepito-title {
            color: red;
            font-size: 240px;
            font-weight: bold;
            font-family: $main-font;
        }

        p {
            font-size: 20px;
            font-weight: bold;
            font-family: $main-font;
        }
    }
}
