//variables

$main-color: #191919;
$shadow-color:#19191978;
$bg-color: #00459e;
$text-color:#ff74c8;
$main-font: 'Roboto', sans-serif;

$p-5: 50px;
$column-2: repeat(2, 1fr);
$column-4: repeat(4, 1fr);
$column-6: repeat(6, 1fr);


//MAPA

$botones: (
    primary: blue,
    secondary: gray,
    light: white,
    danger: red,
    dark: black,
);